.wrapper{
    position: absolute;
    right: 30px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}



.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle_switch {
  display: inline-block;
  background: rgb(150, 145, 145);
  border-radius: 16px;
  width: 50px;
  height: 22px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle_switch:before, .toggle_switch:after {
  content: "";
}
.toggle_switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(104, 20, 20, 0.25);
  width: 23px;
  height:22px;
  position: absolute;
  top:0px;
  left: 1px;
  transition: left 0.25s;
}
.toggle:hover .toggle_switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle_checkbox:checked + .toggle_switch {
  background: #080808;
}
.toggle_checkbox:checked + .toggle_switch:before {
  left: 27px;
}

.toggle_checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle_label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}