.wrapper{
   
    background-color: rgb(51, 159, 85);
    display: grid;
    grid-template-rows: 1fr 20fr;
} 
.search{
    background-color: rgb(111, 208, 63);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.wrapper>ul{
list-style-type: none;
padding: 0;


}
.wrapper>ul>li{
   /* padding: 5px 5px 5px 10px; */
   display: flex;
   background-color: #fff;
   margin-bottom: 5px;
align-items: center;
height: 50px;
    }
    .wrapper>ul>li:hover{
      color: blue;
        cursor: pointer;
         }
         .wrapper>ul>li>img{
           width: 50px;
           height: 50px;
           border-radius: 50%;
           margin-right: 10px;
               }