.container{
  background-color: rgb(236, 230, 230);
   max-width: 940px; 
  min-height: 900px;
  display: flex;
  flex-direction: row;
  border-radius: 23px;
  box-shadow: 12px 12px 13px 0px rgba(54, 54, 64, 0.2);
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
 margin: 30px auto; 
 /* z-index: 2; */
 overflow: hidden;




}
h4{
  margin:16px 2px 16px 0px;
}
input[type='file'] {
  color: transparent;
}
.name{
  padding-top: 30px;
 }
.leftSide{
  /* position: absolute; */
  /* min-width: 300px; */
  min-height: 860px;
  background-color: rgb(59, 53, 64);
  margin-top: 40px;
  border-radius: 0  20px 0 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

min-width: 280px;
max-width: 280px;
justify-content: start
  
  
}
/* .leftSide>p{
margin: 10px;
} */


.bigRound{
  width: 220px;
  background-color: rgb(244, 171, 16);
  height: 220px;
  position: absolute;
  top:-45px;
  left: -45px;
  border-radius: 50%;
  z-index: 1;
  border: 12px solid white;
  overflow: hidden;
  /* overflow-block:hidden; */
}


.ava{
  /* background-color: #fff; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
 /* position: absolute; */
 z-index: 2;
 margin: 0px auto;
 /* background-image: url(https://firebasestorage.googleapis.com/v0/b/andriankukr.appspot.com/o/images%2F1212.png?alt=media&token=af2417a3-6115-4872-9caf-8c85c0d9d071); */
 background-position: center;
 background-size: cover;

}

.Contacts{
  padding-top: 30px;
  display: flex;
flex-direction: column;
justify-content: space-between;

}
.Contacts>div{
margin-top: 10px;
}

.container a{
  color: white;
}
.WorkSkills{
  padding-top: 70px;
}
.WorkSkillsImg{
display: flex;
flex-direction: row;
justify-content: space-between;
box-sizing: border-box;
color:white;

}
h3{
color: gold;
}
.WorkSkillsImg div{
  margin-top: 10px;
  }
  h2{
    color: gold;
  }
  .rightSide{
    /* color: black; */
    padding: 50px;
  }
  .line{
position: relative;
  }
  .lineGreen{
    width: 97px;
    background-color: green;
    border: 5px solid green;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
  }
  .lineWhite{
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
 
  span{
    text-decoration:underline;
  }
  a:hover{
    color:gold
  }
  .imgPhone{
    width: 20px;
    height: 20px;
background-image: url(../../image/phone.png);
background-position: center;
background-size: cover;
margin-right: 10px;
border-radius: 50%;

  }
  .imgEmail{
    width: 20px;
    height: 20px;
background-image: url(../../image/mail.png);
background-position: center;
background-size: cover;
margin-right: 10px;
border-radius: 50%;
  }
  .imgLoc{
    width: 20px;
    height: 20px;
background-image: url(../../image/loc.png);
background-position: center;
background-size: cover;
margin-right: 10px;
border-radius: 50%;
  }
  
  .imgGit{
    width: 20px;
    height: 20px;
background-image: url(../../image/git.png);
background-position: center;
background-size: cover;
margin-right: 10px;
border-radius: 50%;
  }

  .imgFB{
    width: 20px;
    height: 20px;
background-image: url(../../image/fb.png);
background-position: center;
background-size: cover;
margin-right: 10px;
border-radius: 50%;

  }

  .imgLink{
    width: 20px;
    height: 20px;
background-image: url(../../image/link.png);
background-position: center;
background-size: cover;
margin-right: 10px;
border-radius: 50%;
  }










  .Contacts div{
    display: flex;
    flex-direction: row;
    align-items: center;


  }
  .parent a{
    color: white!important
  }
  /* .btnStandart{

  } */
  
  .btn{
    /* visibility:hidden; */
   position: absolute;
   top:0px;
   right:0px;
   background-color: rgb(80, 158, 247);
  }
  .parent{
    position: relative;
   
  }
  .parent:hover .btn{
    color:red;
      visibility:visible ;
  }
  /* .parent:hover{
    font-size: 10px;
  } */
  .range {
    height: 20px;
    width:100px;
    background: rgb(39, 213, 39);
  }



.timePickerSection{
  width: 150px;
}
.timeContainer{
  display: flex;
  width: 457px;
 flex-direction: column;
 height: 100px;
 justify-content: space-around;
}
.timeContainerTwoCalendars{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.timeContainerTwoCalendars input {
width: 100%;
}
  .workExpSectionWrapper{
    position: relative;
  }
  .rightSideSection{
    position: relative;
  }
  .btn2{
   position: absolute;
   top:12px;
   right:0px;
   z-index: 4;
   padding: 0 14px 0 13px;
   background-color: rgb(80, 158, 247);
  }
  .btn2:hover{
    color:red
      }
  .btn4{
 position: absolute;
   position: absolute;
   top:-12px;
   right:0px;
   z-index: 4;
   background-color: rgb(116, 234, 95);
  
   
  }
  .btn4:hover{
    color:red
      }
  .btn3{
 position: absolute;
 background-color: gold;
   left:45%; 
   z-index: 4;
   bottom: -20px;
  }
  .btn3:hover{
 
   color:red
     }

  .light {
    background-color: rgb(250, 248, 248);
    color:black
}

.light a {
    color: black;
}

.dark {
    background: rgb(8, 8, 8);
    color:white
}

.a {
    color: white;
}

.btn5{
  z-index: 4;
  background-color: rgb(80, 158, 247);

 }

 .btn6{
  z-index: 4;
  /* padding: 0; */
  margin-left: 6px;
  background: rgb(39, 213, 39);
 }

 .btn7{
  z-index: 4;
  height:20px;
  margin-top: 17px;
  margin-left: 20px;
  background-color: gold;
 }
 
 .rightSideSection{
  position: relative;
}
.hobbiesSectionWrapper{
  display: flex;
  flex-direction: row;
  height: 25px;
}

.rightSideSectionHobbies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hobbieItem{
  padding-top: 10px;
  margin: 4px;
}
.textWrapper{
margin-top: -18px;
padding-right:10px;
}

/* .visible:hover{
  color:red
} */
.visible{
border-radius: 4px;
display: block;

}
.hidden{
  border-radius: 4px;
display: none;
  }
.personalQualitiesItems{

  height: 30px;
}
.personaItemsKeepSameHeight{
  height: 61px;
  box-sizing: border-box;
  margin-top:21px ;
} 
/* input{
  height: 50px;
}  */
.languageSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.languageSection p{
padding-right: 10px;
}
.btn8{
  position: absolute;
  z-index: 4;
  /* padding: 0; */
  /* margin-left: 6px; */
  background: rgb(39, 213, 39);
  right: 1px;
  width: 50px;
}

.emergency{
  
}