.header_wrapper{
    position: relative;
    height: 81px;
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0   auto;
    box-sizing: border-box;

}
.header_wrapper_black{
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 476px;
    flex-direction: row;
    padding: 20px 20px 0 20px;
    z-index: 100;
}


@media screen and (max-width: 980px) {
   .header_wrapper{
        padding: 20px 20px 0 20px; 
        height: 60px;
    }

}