.container{
  min-width: 400px;
  height: 200px;
color:red;
 margin:  100px auto;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
border: 2px solid brown;
align-items: center;

}
p {
  animation: flicker 0.5s infinite alternate;
}


@keyframes flicker {
   
  from { opacity: 1.0; }
  to { opacity: 0.5; }
 
  
}
  

