/* .wrapper{
  width: 100%;
  height: 100%;
  background-color: rgb(175, 201, 167);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  
}
a{
  text-decoration: none;
}
 */

.wrapper{
  z-index: 2!important;
  width: 100%;
  height: 100%;
  background-color: rgb(227, 237, 224);
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}