.container{
 width: 150px;
  height: 100px;
display: flex;
align-content: center;
justify-content: space-between;
align-items: center;
margin:  100 auto;
}
.buttonSignIn{
    padding: 10px;
    background-color: rgb(32, 176, 77);
    border-radius: 10px;
    color: gold;
    
}
.buttonSignUp{
    padding: 10px;
    background-color: rgb(143, 186, 33);
    border-radius: 10px;
    color: gold;
    
}
.light {
    background-color: rgb(250, 248, 248);
}

.light a {
    color: black;
}

.dark {
    background: rgb(8, 8, 8);
}

.dark a {
    color: white;
}

